# Compiled Object files
*.slo
*.lo
*.o
a.out

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# vim
*.swp

# ghdl files
icache_memory_tb
*.ghw
*.cf
*.vcd

# modelsim and quartus
*.lst
*.wlf
*.sof
*.rpt
*.sdc
*.bak
*.cmp
*.qip
*.qpf
*.qsf
*.summary
*.done
*.pin
*.mti
*.mpf
*.ini
transcript

# folders
sim/modelsim/work/
sim/work/
